<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin home</h1>
    <a href="/view">Verify Research Team</a>
    <a href="/staffview">View Staff</a>
    <a href="/viewcomplaints">View Complaints</a>
    <a href="/notifications">Notifications</a>
    <a href="/viewimage">View Image</a>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vlava Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vlava
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent"style="background-color: rgb(12, 65, 73);">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">AQUA VISION</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" style="color: rgb(255, 255, 255);" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/view">Verify Research Team</a></li>
          <li><a class="nav-link scrollto" href="/staffview">View Staff</a></li>
          <li><a class="nav-link scrollto" href="/viewcomplaints">View Complaints</a></li>
          <li><a class="nav-link scrollto " href="/notifications">Notifications</a></li>
          <li><a class="nav-link scrollto" href="/viewimage">View Image</a></li>
          <li><a class="nav-link scrollto" href="/">Logout</a></li>
          
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <h1>Elevate Your Underwater Photography</h1>
      <h5><font color="white">Step into a world where every underwater photo tells a captivating story. Our cutting-edge image enhancement <br> app brings
         out the true essence of your aquatic adventures,
         revealing the awe-inspiring beauty lurking beneath the surface.</h5></font><br>

    </div>
  </section><!-- End Hero -->


  {%include 'footer.html'%}
