
  <!-- ======= Footer ======= -->
  <!-- <footer id="footer">

    <div class="footer-top">

      

        
          <div>
            <h3>Aqua Vision</h3>
            <p>Aqua Vision is a web application designed to improve the quality of underwater images. Whether you're a marine biologist
               documenting underwater life, an oceanographer studying underwater terrain, or simply an enthusiast capturing memories of 
               your diving adventures, Aquavision Enhance is tailored to enhance the clarity, color fidelity, and overall quality of 
               your underwater photographs.</p>
          </div>
        </div>

        

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      
    </div>

    
  </footer><!-- End Footer -->

  
<footer id="footer">
  <div class="container">
      <div class="row">

          <div class="col-md-4">

              <div class="footer-item">
                  <div class="company-brand">
                      <h5><b>AQUA VISION</h5></b>
                      <p align="justify">Aqua Vision is a web application designed to improve the quality of underwater images. Whether you're a marine biologist
                        documenting underwater life, an oceanographer studying underwater terrain, or simply an enthusiast capturing memories of 
                        your diving adventures, Aquavision Enhance is tailored to enhance the clarity, color fidelity, and overall quality of 
                        your underwater photographs.
                      </p>
                  </div>
              </div>

          </div>
    

          

          <div class="col-md-2">

              <div class="footer-menu">
                  <h5>About Us</h5>
                  <p>we are passionate about unlocking the hidden beauty beneath the waves. Our team of experienced professionals combines expertise in image processing with a 
                    love for the ocean to bring out the best in your underwater photos.</p>
              </div>
          </div>
          <div class="col-md-2">

            <div class="footer-menu">
          <div class="footer-menu">
            <h5>Contact Us</h5>
            <h6>Email:Aquavision@gmail.com</h6>
            <h6>Phone: +91 9512345673</h6>

          </div></div></div>
          <div class="col-md-2">

              <div class="footer-menu">
                  <h5>Services</h5>
                  <ul class="menu-list">
                      <li class="menu-item">
                          <h6>Underwater Image Enhancement</h6>
                      </li>
                      <li class="menu-item">
                          <h6>Color Correction</h6>
                      </li>
                      <li class="menu-item">
                          <h6>Contrast Enhancement</h6>
                      </li>
                      <li class="menu-item">
                          <h6>Consultation and Support</h6>
                      </li>
                      
                  </ul>
              </div>

          </div>
          <div class="col-md-2">

              <div class="social-links">
                  <h5>Follow Us</h5>
                  <ul class="menu-list">
                    <i class="bx bxl-twitter"></i>
                    <i class="bx bxl-facebook"></i>
                    <i class="bx bxl-instagram"></i></a>
                  </ul>
              <div>

          </div>
          
    
      

  </div>
  
</footer>
</body>

</html>