{%include 'admin_header.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
</head>
<body><br><br><br><br><br><br>
    <center>
    <h3>Images and Description</h3>
    <form>
        <table class="table" style="width: 1200px;">
        <tr>
            <thead class="table-secondary">
            <th>Title</th>
            <th>UW image</th>
            <th>Description</th>
            <th>Enhanced Image</th>
            <th>Date</th>
            </thead>
        </tr>
        <tr id="ty">
        {% for i in data['view'] %}
        <tr>
            <td>{{i['title']}}</td>
            <td>{{i['uw_image']}}</td>
            <td>{{i['description']}}</td>
            <td>{{i['enhanced_img']}}</td>
            <td>{{i['date']}}</td>
            
        </tr>
        {% endfor %}
        </table>
    </form>
</center>
</body>

</html>

{%include 'footer.html'%}