{%include 'resteam_header.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br>
  <center>
<h1>Image Enhancement</h1>
<table class="table" style="width: 1000px;">
    <tr>
        <thead class="table-secondary">
        <th>SL NO</th>
        <th>STAFF NAME</th>
        <th>IMAGE</th>
        <th>DESCRIPTION</th>
        <th>DATE</th>
        <th></th>
        </thead>
    </tr>
    
    {%for i in data['view']%}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{i['res_team_name']}}</td>
        {%if i['type'] == 'image'%}  
            <td><img src="{{i['uw_image']}}"  height="100px" width="100px" alt=""></td>
        {%elif i['type'] == 'video'%}
        <td><video src="/{{i['uw_image']}}" controls></video></td>
        {%endif%}
        <td>{{i['description']}}</td>
        <td>{{i['date']}}</td>
        <td><a href="/process?id={{i['uw_image_id']}}&type={{i['type']}}&file={{i['uw_image']}}" class="btn btn-info" >Enhance</a></td>
    </tr>
    {%endfor%}
</table>
</center>  
</body>
</html>

{%include 'footer.html'%}




