{% include 'staff_header.html'%}


<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <h1>Elevate Your Underwater Photography</h1>
      <h5><font color="white">Step into a world where every underwater photo tells a captivating story. Our cutting-edge image enhancement <br>
         app brings
         out the true essence of your aquatic adventures,
         revealing the awe-inspiring beauty lurking beneath the surface.</h5><br>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->


{% include 'footer.html'%}