{% include 'staff_header.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Images</h1>
    <form  method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <th>Title</th>
                <td><input type="text" name="title"></td></tr>
                <td colspan="2"><input type="file" name="img" id=""></td>
                <tr><th>Description</th>
                <td><input type="text" name="desc"></td></tr>
                <tr><th>Enhanced Image</th>
                <td><input type="text" name="eimg"></td></tr>
                <tr><th>Date</th>
                <td><input type="date" name="date"></td></tr>
            <td colspan="2" align="center"><input type="submit" name="submit" value="Upload"></td>
            </tr>
        </table>
    </form>
</body>
</html>
{%include 'footer.html'%}