<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enhanced Image</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th>Description</th>
            <th>Enhanced Image</th>
            <th>Type</th>
            <th>Date</th>
        </tr>
        
            {% for i in data['view']%}
        <tr>
            <td>{{i['title']}}</td>
            <td>{{i['uw_image']}}</td>
            <td>{{i['description']}}</td>
            <td>{{i['enhanced_img']}}</td>
            <td>{{i['type']}}</td>
            <td>{{i['date']}}</td>

        </tr>
        {%endfor%}
    </table>
</body>
</html>